<div class="container">
  <div class="gauche">
    <div class="gauche-inner"></div>
    <div class="gauche-text">
      Merci de bien remplir tous les champs du formulaire de contact afin que
      nous puissions répondre de manière plus précise à votre demande. Merci !
    </div>
  </div>
  <div class="droite">
    <p
      style="
        position: relative;
        text-align: center;
        font-size: x-large;
        font-weight: bolder;
      "
    >
      Contacter Notre Équipe
    </p>
    <div class="forms">
      <div class="required-fields">
        <div class="p-inputgroup">
          <label for="nom">Nom :</label>
          <br />
          <input id="nom" type="text" pInputText placeholder="Nom" required />
        </div>
        <br />

        <div class="p-inputgroup">
          <label for="prenom">Prénom :</label>
          <br />
          <input
            id="prenom"
            type="text"
            pInputText
            placeholder="Prénom"
            required
          />
        </div>
        <br />

        <div class="p-inputgroup">
          <label for="telephone">Téléphone :</label>
          <br />
          <input
            id="telephone"
            type="tel"
            pInputText
            placeholder="Téléphone"
            pattern="[0-9]+"
            title="Veuillez entrer uniquement des chiffres"
            required
          />
        </div>
        <br />

        <div class="p-inputgroup">
          <label for="details">Plus de détails :</label>
          <br />
          <textarea
            id="details"
            pInputTextarea
            placeholder="Plus de détails"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <div class="card flex justify-content-center">
      <p-button
        label="Loading custom icon"
        [loading]="loading"
        loadingIcon="pi pi-bell"
        (onClick)="load()"
        label="Envoyé"
      ></p-button>
    </div>
  </div>
</div>
