<div class="container">
  <div class="resto-events">
    <p-carousel
      [value]="events"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [showIndicators]="false"
    >
      <ng-template let-event pTemplate="event">
        <div class="event-image resto-event">
          <img src="{{ event.selectedImage }}" alt="Selected Image" />
          <div class="event-resto-deadline">
            <div class="event-resto-deadline-text">Ending Date</div>

            <div class="event-resto-deadline-price">
              {{ event.endDate | date : "MMM d, y " }}
            </div>
          </div>
          <div class="event-resto-offer-box">
            <div class="event-resto-offer-price-old">
              {{ event.totalPrice }} Dt
            </div>
            <div class="event-resto-offer-price">{{ event.eventPrice }} Dt</div>
          </div>
          <div class="event-box">
            <div class="event-resto-name">{{ event.eventName }}</div>
            <div class="event-resto-special-event-NbrOfP">
              {{ event.numberOfPersons }} Personnes
            </div>
            <div class="event-resto-special-event">Special Menu</div>

            <div class="event-resto-line"></div>
            <div class="event-resto-offer-text">mermez</div>
            <p-button
              label="Order Now"
              styleClass="event-order-button"
              [rounded]="true"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="resto-menu">
    <h2>Categories</h2>

    <div class="resto-menu-filter">
      <div class="resto-menu-filter-category add-categ" *ngIf="isTheOwner">
        <p-button (click)="openSelectCateg()" [link]="true">
          <i class="pi pi-plus"></i>
        </p-button>
        <h5>Add category</h5>
      </div>

      <div class="resto-menu-filter-category" *ngFor="let categ of categories">
        <img src="{{ categ.imgCat }}" alt="" />
        <div>{{ categ.nameCat }}</div>
      </div>
    </div>
    <h2>Produits</h2>

    <div class="resto-menu-products">
      <div class="resto-menu-product add-product" *ngIf="isTheOwner">
        <p-button (click)="openAddPlat()" [link]="true">
          <i class="pi pi-plus"></i>
        </p-button>
        <h3>Add plat</h3>
      </div>

      <div
        class="resto-menu-product"
        *ngFor="let plat of plats"
        [class.selected]="plat.selected"
      >
        <div class="rest-resto-menu-product-details">
          <div class="resto-menu-product-img">
            <img src="{{ plat.imgP }}" alt="" />
          </div>
          <div class="resto-menu-product-name">{{ plat.nameP }}</div>
          <div class="resto-menu-product-description">
            {{ plat.descriptionP }}
          </div>
          <div class="resto-menu-product-footer">
            <div class="resto-menu-product-price">{{ plat.priceP }} Dt</div>
            <p-button
              *ngIf="!isTheOwner"
              (click)="showProductSelectionCartBar()"
              (click)="addToSelectedProductsCart(plat)"
              class="product-btn"
              icon="pi pi-cart-plus"
              [link]="true"
            ></p-button>
            <p-button
              *ngIf="isTheOwner"
              (click)="showProductSelectionBar()"
              (click)="addToSelectedProducts(plat)"
              [link]="true"
              icon="pi pi-plus"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productSelectionBarCartVisible" class="product-selection-bar">
  <div class="product-selection-bar-left">
    <span>{{ selectedProductsCart.length }} Plat selected</span>
  </div>
  <div class="product-selection-bar-right">
    <p-button
      [rounded]="true"
      styleClass="product-selection-bar-submit-button"
      (click)="submitSelectedProducts()"
    >
      Order
    </p-button>
  </div>
</div>

<div *ngIf="productSelectionBarVisible" class="product-selection-bar">
  <div class="product-selection-bar-left">
    <span>{{ selectedProductIds.length }} items selected</span>
  </div>
  <div class="product-selection-bar-right">
    <p-button
      label="Delete"
      icon="pi pi-ban"
      [rounded]="true"
      styleClass="product-selection-bar-delete-button"
      [outlined]="true"
    ></p-button>

    <p-button
      label="Hide Items"
      icon="pi pi-eye-slash"
      [rounded]="true"
      styleClass="product-selection-bar-hide-button"
      [outlined]="true"
    ></p-button>
    <p-button
      [rounded]="true"
      styleClass="product-selection-bar-submit-button"
      (click)="submitEvent()"
    >
      Event [{{ selectedProductIds.length }}]</p-button
    >
  </div>
</div>
