<!-- reviews.component.html -->

<div class="container">
  <div class="reviews-list">
    <div class="avrage-review">
      <h1>{{ averageRating | number:'1.1-1' }}</h1>
      <div  style="display: flex; flex-direction: row ; ">
        <div *ngFor="let star of starsToDisplay; let i = index">
          <i class="pi" [ngClass]="{'pi-star-fill': star === 1, 'pi-star': star === 0}" style="color: gold; font-size: 35px ; "></i>
        </div> </div>    
      <p>makech mech talka lahkika khir men resto mteaane 5njoum ali ykolik</p>
    </div>
    <div class="class-reviews">
      <div class="row"  *ngFor="let key of objectKeys(ratingsCount)">
        <div class="side">
          <div><p>{{ key }} star  </p> </div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-{{ key }}"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ ratingsCount[key] }}</div>
        </div>
    
    </div></div>
  </div>
  <div class="write-review">
    <h3>Write a Review</h3>
    <div class="write-review-box">
      <div class="write-review-star-box">
        <textarea
          [(ngModel)]="userReview"
          placeholder="Write your review"
        ></textarea>
        <p-button (click)="submitReview()">Submit Review</p-button>
      </div>
      <div class="write-review-star-box">
        <h1>Evaluate Our Dining Experience</h1>
        <p>Your feedback is invaluable as we strive for excellence.</p>
        <p-rating
          [(ngModel)]="userRating"
          [stars]="5"
          [cancel]="false"
        ></p-rating>
      </div>
    </div>
  </div>

  <div class="list-reviews">
    <h3>Customer Reviews</h3>
    <div class="container-list-reviews">
      <div *ngFor="let review of reviews" class="review">
        <div class="review-header">
          <span>{{ review.userId.name }}</span>
          <p-rating
            [ngModel]="review.rating"
            [stars]="review.rating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
        <div class="review-text">{{ review.text }}</div>
        <span class="review-date">{{ review.createdAt | date : "short" }}</span>
      </div>
    </div>
  </div>
</div>
