.category{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin: auto;
gap:50px;
padding: 20px;

}
.All-category{
  padding: 20px;
  border: rgba(99, 165, 182, 0.457) 1px solid;
  border-radius: 20px;
width: 700px;
}
.category-selected{
  padding: 20px;
  border: rgba(99, 165, 182, 0.457) 1px solid;
  border-radius: 20px;
  width: 700px;


}
.content{
  display: flex;
  align-items: center;
  justify-content: left;
gap: 10px;
}
.All-category input{
width: 650px;
margin-bottom: 20px;
}
.containerr{

 
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 1px;
 

}
.conatinerImg img {
  width: 70px;
  border-radius: 50%;
  margin-left: -1rem;
}
.categSelected{
  border: 2px solid rgb(255, 238, 0);
  background-color: #f1fe001a;
}
.containerr:hover{
  cursor: pointer;

}
.list-categ-selected{
  margin: 10px 10px 10px 10px;
  display: flex;
gap: 10px;
justify-content:left ;
align-items: center;
}
.categ-manger{
  display: flex;
  gap: 20px;
justify-content: center;
align-items: center ;
}
.containerP{
  display: felx;
  justify-content: center;
  align-items: center;
}
.button-save{
  margin-left: 620px;
}

