<div class="container">
  <h1>Select Category</h1>
  <div class="category">

    <div class="category-selected">
      <h3>Liste Categories</h3>
      <p> You have chosen this category</p>
      <div class="list-categ-selected">
       

        <div class="containerr" *ngFor="let categ of categsResto">
          
<p-chip  label="{{categ.nameCat}}" image="{{categ.imgCat}}" [removable]="true"></p-chip>
        </div>
      </div>
    
    </div>

    <div class="All-category">
      <h3>Select a category to add to your restaurant's menu</h3>
      <input pInputText type="search" placeholder="search category"  [(ngModel)]="searchTerm" (input)="onSearchChange()">
      <div class="content">
      <div
        class="containerr"
        *ngFor="let category of categories"
        (click)="onCategoryClick(category)"
        [ngClass]="{ categSelected: category.isSelected }"
      >
      <p-chip label="{{category.nameCat}}" image="{{category.imgCat}}" ></p-chip>
      </div>
    </div>
    </div>

   
  </div>
  <div class="button-save">
  <p-button label="Save" severity="success" (click)="addCategory()"></p-button>
</div>
</div>
