<div class="navbar">
  <div class="container">
    <div class="navbar-left">
      <a label="NextMunch" routerLink="" class="mainlogo">
        <div>NextMunch</div>
        <img src="../../../assets/logo/logo-splach.png" alt="" />
      </a>
    </div>
    <div class="navbar-middle">
      <p-button
        label="Restaurants"
        styleClass="custom-button"
        routerLinkActive="activebutton"
        routerLink="/Restaurants"
      ></p-button>
      <p-button
        label="About"
        routerLink="/About"
        styleClass="custom-button"
        routerLinkActive="activebutton"
      ></p-button>
      <p-button
        label="Contact"
        routerLink="/Contact"
        styleClass="custom-button"
        routerLinkActive="activebutton"
      ></p-button>

      <p-button
        *ngIf="isOwner"
        label="Dashboard"
        routerLink="/Dashboard"
        styleClass="custom-button"
        routerLinkActive="activebutton"
      >
      </p-button>
      <p-button
        label="RP"
        *ngIf="isAuth && isOwner"
        styleClass="custom-button"
        routerLinkActive="activebutton"
        routerLink="/PageResto/658313ea8a06b1e6daa77841"
      ></p-button>
      <p-button
        label="Create Restaurant"
        *ngIf="isAuth && !isOwner"
        (click)="openAddResto()"
        styleClass="custom-button"
        routerLinkActive="activebutton"
      ></p-button>
    </div>

    <!--
    <div class="navbar-search">
      <span class="p-input-icon-left">
        <i class="pi pi-search search-Icon"></i>
        <input
          type="text"
          class="p-inputtext-sm search-Input"
          pInputText
          placeholder="Search"
          [(ngModel)]="search"
        />
      </span>
    </div>-->
    <div class="navbar-right">
      <button
        class="p-button-text"
        pButton
        icon="pi pi-search"
        ariaLabel="campaign"
      ></button>
      <p-button *ngIf="!isAuth" routerLink="/auth/login" [link]="true"
        >Login</p-button
      >
      <p-button
        *ngIf="!isAuth"
        routerLink="/auth/signup"
        styleClass="secend-btn"
        [rounded]="true"
        >Sign Up</p-button
      >
      <p-button
        *ngIf="isAuth"
        styleClass="secend-btn"
        (click)="logout()"
        [rounded]="true"
        >Logout</p-button
      >
      <button
        class="p-button-text"
        (click)="change_theme()"
        pButton
        icon="pi pi-sun"
        ariaLabel="campaign"
      ></button>
    </div>
  </div>
</div>
