  @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 30px ;
}
.mainlogo{
    position: relative;
}
.mainlogo div{
    font-family: 'Preahvihear', sans-serif !important;
    font-size: 23px;
    font-weight: 700;
}
.mainlogo img{
    height: 20px;
    width: 20px;
    position: absolute;
    top: -3px;
    right: -13px;
}
.navbar-middle{
    
}
.navbar-right{
    
}
::ng-deep .secend-btn{
    background-color: #e97807 ;
    border: none;
    color: white;
  }