  @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

  .navbar {
    display: flex;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blur-background);
    backdrop-filter: blur(20px); 
  }

  
.container{
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainlogo{
    position: relative;
}
.mainlogo div{
    font-family: 'Preahvihear', sans-serif !important;
    font-size: 23px;
    font-weight: 700;
}
.mainlogo img{
    height: 20px;
    width: 20px;
    position: absolute;
    top: -3px;
    right: -13px;
}
.navbar-middle{
    display: flex;
    gap: 5px;
}
.navbar-right{
    display: flex;
    gap: 5px;
}
::ng-deep .secend-btn{
    background-color: #e97807 ;
    border: none;
    color: white;
    font-weight: 600;
  }
  ::ng-deep .custom-button {
    text-decoration: none;
    background-color: transparent;
    border: none;
  }
  ::ng-deep .custom-button:hover {
    color: var(--whitecolor); 
    background-color: var(--soft-bgcolor); 
  }
  .search-Input{
    border-radius: 20px;
    background-color: var(--blur-background) !important;

  }
  .search-Input::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blur-background) !important;
    backdrop-filter: blur(20px) !important; 
  }
  .search-Input::placeholder{
    background-color: transparent !important;

  }
  .search-Icon{
    border-radius: 50%;
  }
