<div class="container">
  <div class="image-selection">
    <label>Event Example:</label>

    <div class="image-container">
      <div class="event-image resto-event">
        <img [src]="selectedImage" alt="Selected Image" />
        <div class="event-resto-deadline">
          <div class="event-resto-deadline-text">Ending Date</div>

          <div class="event-resto-deadline-price">
            {{ endDate | date : "MMM d, y " }}
          </div>
        </div>
        <div class="event-resto-offer-box">
          <div class="event-resto-offer-price-old">
            {{ getSelectedProductPrices() }} Dt
          </div>
          <div class="event-resto-offer-price">{{ eventPrice }} Dt</div>
        </div>
        <div class="event-box">
          <div class="event-resto-name">{{ eventName }}</div>
          <div class="event-resto-special-event-NbrOfP">
            {{ numberOfPersons }} Personnes
          </div>
          <div class="event-resto-special-event">Special Menu</div>

          <div class="event-resto-line"></div>
          <div class="event-resto-offer-text">
            {{ getSelectedProductNames() }}
          </div>
          <p-button
            label="Order Now"
            styleClass="event-order-button"
            [rounded]="true"
          ></p-button>
        </div>
      </div>

      <div class="small-images-container">
        <p-carousel
          [value]="imageArray"
          [showIndicators]="false"
          [numVisible]="8"
          [numScroll]="1"
        >
          <ng-template let-image pTemplate="item">
            <img
              [src]="image"
              alt="Small Image"
              class="small-image"
              (click)="selectImage(image)"
            />
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
  <div>
    <label>Create Event:</label>
    <div class="form-selection">
      <input
        type="text"
        pInputText
        [(ngModel)]="eventName"
        placeholder="Event Label"
      />
      <p-inputNumber
        styleClass="NumberInput"
        placeholder="Price"
        [(ngModel)]="eventPrice"
      ></p-inputNumber>
      <p-inputNumber
        styleClass="NumberInput"
        placeholder="Nbr Persons"
        [(ngModel)]="numberOfPersons"
      ></p-inputNumber>
      <p-calendar placeholder="Start Date" [(ngModel)]="startDate"></p-calendar>
      <p-calendar placeholder="End Date" [(ngModel)]="endDate"></p-calendar>
    </div>

    <div class="table-section">
      <p-table [value]="products" styleClass="Table-Changes">
        <ng-template pTemplate="header">
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-checkbox
                [(ngModel)]="product.selected"
                [binary]="true"
                inputId="binary"
                (change)="handleCheckboxChange(product)"
              ></p-checkbox>
            </td>
            <td>{{ product.nameP }}</td>
            <td>
              <img
                src="{{ product.imgP }}"
                alt="ImagesPlat"
                class="PlatImage"
              />
            </td>
            <td>{{ product.descriptionP }}</td>
            <td>{{ product.priceP }} Dt</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div class="submit-button-section">
  <p-button [rounded]="true" (click)="onSubmit()" label="Submit"></p-button>
</div>
