<div class="container">
  <label>Event Example:</label>
  <div class="image-selection">
    <div class="image-container">
      <div class="event-image resto-event">
        <img [src]="selectedImage" alt="Selected Image" />

        <div class="event-resto-offer">
          <!--
          <img
            class="event-resto-offer-img"
            src="../../../assets/images/Main-Images/—Pngtree—price explosion stickers_5462157.png"
            alt=""
          />-->
          <div class="event-resto-offer-box">
            <div class="event-resto-offer-text">Offer Price</div>
            <div class="event-resto-offer-price">{{ eventPrice }} Dt</div>
          </div>
        </div>
        <div class="event-box">
          <div class="event-resto-name">Weld Elhatab</div>
          <div class="event-resto-special-event">Special Menu</div>
          <div class="event-resto-line"></div>
          <div class="event-resto-offer-text">Mermez + Couscous</div>
          <div class="event-resto-offer-text"></div>

          <p-button
            label="ORDER  NOW"
            styleClass="Btn"
            [rounded]="true"
          ></p-button>
        </div>
      </div>
    </div>

    <div class="small-images-container">
      <div
        *ngFor="let imageUrl of imageArray"
        class="small-image"
        (click)="selectedImage = imageUrl"
      >
        <img [src]="imageUrl" alt="Small Image" />
      </div>
    </div>
  </div>
  <label>Create Event:</label>
  <div class="form-selection">
    <p-inputNumber
      placeholder="Enter Price"
      [(ngModel)]="eventPrice"
    ></p-inputNumber>
    <p-inputNumber
      placeholder="Number of Persons"
      [(ngModel)]="numberOfPersons"
    ></p-inputNumber>
    <p-calendar placeholder="Start Date" [(ngModel)]="startDate"></p-calendar>
    <p-calendar placeholder="End Date" [(ngModel)]="endDate"></p-calendar>
  </div>

  <div class="table-section">
    <p-table [value]="products" styleClass="Table-Changes">
      <ng-template pTemplate="header">
        <tr>
          <th>Select</th>
          <!-- New header for the checkbox -->
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <input
              type="checkbox"
              [(ngModel)]="product.selected"
              (change)="handleCheckboxChange(product)"
            />
          </td>
          <td>{{ product.nameP }}</td>
          <td>{{ product.descriptionP }}</td>
          <td>{{ product.priceP }} Dt</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="submit-button-section">
  <p-button [rounded]="true" label="Submit"></p-button>
</div>
