/* Container */

.container {
    padding-left: 30px;
    margin: 150px auto;
    max-width: 900px; 
    border-radius: 50px 380px 380px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container-left {
    width: 400px;
  }
  .container-rigth {
    background: var(--bg-color);
    height: 460px;
    width: 534px;
    border-radius: 50%;
    justify-content: start;
    align-items: end;
    padding-top: 0px;
    padding-bottom: 220px;
    padding-right: 170px;
    margin-left: 100px;
  }
  .pizzaAuth {
    height: 190%;
    width: 170%;
  }
 
  