
.header {
    position: relative;
    height: 200px; 
    margin-bottom: 80px;
}
  .banner-resto-img {
    width: 100%;
    height: 200px; 
    background-color: #ddd;
    overflow: hidden;
  }
  .banner-resto-img img{
    width: 100%;
    background-color: #ddd;
    background-position: center;
    background-size: contain;
  }
  .main-resto-img { 
    position: absolute;
    bottom: -85px;
    width:  170px;
    height:  170px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    border: var(--bordercolor) solid 2px;
    border-radius: 50%;
    overflow: hidden;
}  
.main-resto-img img{ 
    height: 170px;
    width:  170px;
    background-position: center;
    background-size: cover;
}
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
/***********************************/
  
  .resto-details {
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .resto-details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .resto-details-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;

  }
  .resto-details-global-location-phone{
    width: max-content;
    margin: auto;
  }
  .resto-details-location-phone{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
  }
  .resto-details-location-phone div{
    height: max-content;

    align-items: center;
    display: flex;
    gap: 5px;
}

.resto-details-location-phone div p{

    font-size: 16px;
    font-weight: 600;
}
  .resto-details-location-phone span{
    color: var(--graycolor);
    
  }
/***********************************/

.resto-events{
    margin: 30px;
}
  
.resto-event{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.resto-event img{
    height: 400px;
    width: 100%;
    border-radius: 20px;

}
/***********************************/

  .resto-menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
/***********************************/
  
  .resto-menu-filter {
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
  
  .resto-menu-filter-category {
    display: inline-block;
    height: 140px;
    width:  140px;
    padding: 5px 10px;
    background-color: #ededed8e;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}
.resto-menu-filter-category img{
  height: 100px;
  width:  100px;
  margin: auto;
}
.resto-menu-filter-category div{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/***********************************/
  .resto-menu-products {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}
  .resto-menu-product {
    border-radius: 10px;
    width: 240px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: end;    
}
 
.resto-menu-product-img{
    position: absolute;
    top: -170px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    border: var(--bordercolor) solid 1px;
    background-color: var(--bgcolor);
} 
.resto-menu-product-img img{
    width: 190px;
    height: 190px;
} 

.rest-resto-menu-product-details{
    position: relative;
    border: var(--bordercolor) solid 1px;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;

}

.resto-menu-product-name{
    font-size: 20px;
    font-weight: 600;
}
.resto-menu-product-description{
    color: var(--graycolor);
    font-size: 14px;

}
.resto-menu-product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resto-menu-product-price{
    font-size: 15px;
    font-weight: 700;
}
.product-btn{

}