@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bigelow+Rules&display=swap');

.header {
    height: 200px; 

}
  .banner-resto-img {
    width: 100%;
    height: 200px; 
    background-color: var(--bgcolor);
    overflow: hidden;
  }
 
  .banner-resto-img img{
    width: 100%;
    background-color: var(--bgcolor);
  }
  .banner-container{
    max-width: 1400px;
    top: 0;
    margin: 0 auto;
    position: relative;

  }

  /******** main restaurant image **********/
  .main-resto-img { 
    position: absolute;
    bottom: -20px;
    width:  160px;
    height:  160px;
    left: 30px;
    border: var(--bordercolor) solid 2px;
    border-radius: 50%;
    overflow: hidden;
}  
.main-resto-img img{ 
    height: 160px;
    width:  160px;
    background-position: center;
    background-size: cover;
}

/***** edit main resto image */

.edit-main-resto-img{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom:-20px ;
  right: 10px;
  border-radius: 50%;
  background-color: var(--graycolor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-main-resto-img i{
  font-size: 22px;
  color: black;
}
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }

/***********************************/
  .resto-spliter{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
  }
/***********************************/

  .resto-details {
    margin-left: 20px;
    margin-top: 5px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  .setting-btn{
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .resto-details-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .resto-details-description {
    font-size: 14px;
    color: var(--graycolor);
    margin-bottom: 10px;

  }
  
  .resto-details-location-phone{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
  }
  
  .resto-details-location-phone span:first-child{
    font-weight: 600;
    font-size: 16px;
  }
  
  .resto-details-location-phone span:last-child{
    font-size: 14px;

  }
.resto-details-time{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}
.resto-details-time i{
  margin-right: 10px;
}
.resto-details-time span{
  font-size: 14px;
}
.resto-details-time p{
  font-weight: 600;
  font-size: 16px;
}
/***********************************/
.owner-tab-menu{
  margin: 20px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: var(--bordercolor) solid 1px;
}


::ng-deep .custom-button {
  color: var(--graycolor); 
  text-decoration: none;
  background-color: transparent;
  border: none;
}
::ng-deep .custom-button:hover {
  color: var(--whitecolor); 
  background-color: var(--soft-bgcolor); 
}
/***********************************/

.resto-events{
    margin: 30px;
}
  
.resto-event{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
  }
.resto-event img{
  position: absolute;
    height: 400px;
    width: 100%;
    border-radius: 20px;

}
.event-box{
  z-index: 10;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  color: white;

}
.event-resto-name {
  font-size: 60px;
  font-family: 'Allura', cursive;
  font-weight: 600;

}

.event-resto-special-event {
  font-family: 'Allura', cursive;
  color: #dcc5a4;
  font-weight: 600;
  font-size: 40px;
}

.event-resto-line {
  width: 200px;
  height: 2px;
  border-radius: 2px;
  background-color: white;
}
.event-resto-offer {
  font-size: 25px;
  position: absolute;
  top: 70px;
  left: 70px;
  flex-direction: column;
  max-height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-resto-offer-img{
  position: absolute;
  max-height: 250px;
  width: 300px;

}
.event-resto-offer-box{
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;



}
.event-resto-offer-text {
  z-index: 10;
  font-size: 30px;
  text-align: center;
}
.event-resto-offer-price {
  z-index: 10;
  text-align: center;
  font-size: 30px;

}

/***********************************/

  .resto-menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
/***********************************/
  
  .resto-menu-filter {
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
  
  .resto-menu-filter-category {
    height: 140px;
    width:  140px;
    background-color: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: black;

}
.resto-menu-filter-category img{
  height: 100px;
  width:  100px;
  margin: auto;
}
.resto-menu-filter-category div{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/***********************************/
  .resto-menu-products {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;

}
  .resto-menu-product {
    border-radius: 10px;
    width: 240px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: end;    
}
 
.resto-menu-product-img{
    position: absolute;
    top: -140px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: var(--bordercolor) solid 1px;
    background-color: var(--bgcolor);
} 
.resto-menu-product-img img{
    width: 160px;
    height: 160px;
} 

.rest-resto-menu-product-details{
    position: relative;
    border: var(--bordercolor) solid 1px;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;

}

.resto-menu-product-name{
    font-size: 20px;
    font-weight: 600;
}
.resto-menu-product-description{
    color: var(--graycolor);
    font-size: 14px;

}
.resto-menu-product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resto-menu-product-price{
    font-size: 15px;
    font-weight: 700;
}
.add-product{
  border: dashed 1px var(--graycolor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product i{
  font-size: 30px;
}
.add-product:hover{
  background-color: var(--soft-bgcolor);
  cursor: pointer;
}
.add-categ{
  border: dashed 1px var(--graycolor);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--whitecolor);

}
.add-categ:hover{
  background-color: var(--soft-bgcolor);
  cursor: pointer;
}

.product-selection-bar {
  border-top: var(--bordercolor) solid  1px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--soft-bgcolor); /* Adjust background color as needed */
  padding: 10px;
  z-index: 1000;
}
.product-selection-bar-left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.resto-menu-product.selected {
  border: 2px solid rgb(255, 98, 0);
}
