<div class="header">
  <div class="banner-resto-img">
    <div class="main-resto-img"></div>
  </div>
</div>
<div class="container">
  <div class="resto-details">
    <div class="resto-details-title">Weld El Hattab</div>
    <div class="resto-details-description">
      barcha jaw barcha jaw barcha jaw barcha jaw barcha jaw barcha jaw
    </div>
  </div>

  <div class="resto-events"></div>

  <div class="resto-menu">
    <div class="resto-menu-filter">
      <div class="resto-menu-filter-category">a</div>
    </div>
    <div class="resto-menu-products">
      <div class="resto-menu-product">a</div>
    </div>
  </div>
</div>
