<div class="header">
  <div class="banner-resto-img">
    <img
      src="../../../assets/images/Main-Images/ContactUsBackgroung.jpg"
      alt=""
    />

    <div class="main-resto-img">
      <img
        src="../../../assets/images/Main-Images/alex-motoc-H5gNE2RX8Ac-unsplash.webp"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="resto-details">
    <div class="resto-details-title">Weld El Hattab</div>
    <div class="resto-details-description">
      barcha jaw barcha jaw barcha jaw barcha jaw barcha jaw jaw barcha jaw jaw
      barcha jaw barcha jaw
    </div>
    <div class="resto-details-global-location-phone">
      <div class="resto-details-location-phone">
        <div>
          <i class="pi pi-map-marker"></i>
          <p>Location</p>
        </div>
        <span> Monastir hay al omran skanes 34209 </span>
      </div>
      <div class="resto-details-location-phone">
        <div>
          <i class="pi pi-phone"></i>
          <p>Phone</p>
        </div>
        <span> +216 20534633 </span>
      </div>
    </div>
  </div>
  <div class="resto-events">
    <p-carousel
      [value]="events"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
    >
      <ng-template let-event pTemplate="item">
        <div class="resto-event">
          <img
            src="../../../assets/images/2d6f4b83f0dad3a51043b584933b4bf4.png"
            alt=""
          />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="resto-menu">
    <h2>Categories</h2>

    <div class="resto-menu-filter">
      <div class="resto-menu-filter-category" *ngFor="let item of events">
        <img
          src="https://www.mosaique-pizza.fr/medias/images/menu-pizzas.svg"
          alt=""
        />
        <div>Pizza</div>
      </div>
    </div>
    <h2>Produits</h2>

    <div class="resto-menu-products">
      <div class="resto-menu-product" *ngFor="let item of items">
        <div class="rest-resto-menu-product-details">
          <div class="resto-menu-product-img">
            <img
              src="../../../assets/—Pngtree—real beef cheese burger_6889143.png"
              alt=""
            />
          </div>
          <div class="resto-menu-product-name">CouscousCouscous</div>
          <div class="resto-menu-product-description">
            Short Description Short Description Short Description Short
            Description
          </div>
          <div class="resto-menu-product-footer">
            <div class="resto-menu-product-price">Dt 60.00</div>
            <p-button
              class="product-btn"
              icon="pi pi-cart-plus"
              [link]="true"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
