<div class="header">
  <div class="banner-resto-img">
    <img
      src="../../../assets/images/restaurants-images/burger-fry-souse-banner-free-space-text-mockup-fast-food-top-view-empty-professional-phonography-photo.jpg"
      alt=""
    />
  </div>
  <div class="banner-container">
    <div class="main-resto-img">
      <img
        src="../../../assets/images/Main-Images/alex-motoc-H5gNE2RX8Ac-unsplash.webp"
        alt=""
      />
    </div>
    <p-button
      icon="pi pi-ellipsis-h"
      [link]="true"
      class="setting-btn"
      routerLink="/RestoSettings"
    ></p-button>
  </div>
</div>

<div class="container">
  <div class="resto-details">
    <div class="resto-details-title">{{ data?.nameR }}</div>
    <div class="resto-details-description">
      barcha jaw barcha jaw barcha jaw barcha jaw barcha
    </div>
  </div>
  <!--
  <div class="resto-spliter">
    <div class="resto-timing">
      <div class="resto-timing-header">
        <i class="pi pi-map-marker"></i>
      </div>
      <div class="resto-timing-header">Location</div>
      <div class="resto-timing-title">
        Monastir
        <span>{{ data?.location }} </span>
      </div>
      <p-button label="GPS" [link]="true"></p-button>
    </div>
    <div class="resto-timing">
      <div class="resto-timing-header">
        <i class="pi pi-phone"></i>
      </div>
      <div class="resto-timing-header">Contact</div>
      <div class="resto-timing-title">
        Phone
        <span>+216 {{ data?.contact }} </span>
      </div>
      <div class="resto-timing-title">
        Facebook
        <span> KadheBenkadhe </span>
      </div>
    </div>
    <div class="resto-timing">
      <div class="resto-timing-header">
        <i class="pi pi-clock"></i>
      </div>
      <div class="resto-timing-header">Open Hours</div>
      <div class="resto-timing-title">
        Weekdays
        <span>8.30 AM - 9.30 PM </span>
      </div>
      <div class="resto-timing-title">
        Weekends
        <span>8.30 AM - 9.30 PM </span>
      </div>
    </div>
  </div>-->
  <div class="owner-tab-menu">
    <p-button label="Menu" styleClass="custom-button"></p-button
    ><p-button label="Informations" styleClass="custom-button"></p-button
    ><p-button label="Reviews" styleClass="custom-button"></p-button>
    <p-button label="Reservations" styleClass="custom-button"></p-button>
  </div>
  <!--
  <div class="resto-event add-Event">
    <i class="pi pi-plus"></i>
    <h3>Add Event</h3>
  </div>
-->
  <div class="resto-events">
    <p-carousel
      [value]="events"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
    >
      <ng-template let-event pTemplate="item">
        <div class="resto-event">
          <img
            src="https://i.gyazo.com/aea585922385b1af33a6cc8ced47d193.png"
            alt=""
          />
          <div class="event-resto-offer">
            <img
              class="event-resto-offer-img"
              src="../../../assets/images/Main-Images/—Pngtree—price explosion stickers_5462157.png"
              alt=""
            />
            <div class="event-resto-offer-box">
              <div class="event-resto-offer-text">Offer Price</div>
              <div class="event-resto-offer-price">60 Dt</div>
            </div>
          </div>
          <div class="event-box">
            <div class="event-resto-name">{{ data?.nameR }}</div>
            <div class="event-resto-special-event">Special Menu</div>
            <div class="event-resto-line"></div>
            <div class="event-resto-offer-text">Mermez + Couscous</div>
            <div class="event-resto-offer-text"></div>

            <p-button
              label="ORDER  NOW"
              styleClass="Btn"
              [rounded]="true"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="resto-menu">
    <h2>Categories</h2>

    <div class="resto-menu-filter">
      <div class="resto-menu-filter-category add-categ">
        <p-button (click)="openAddPlat()" [link]="true">
          <i class="pi pi-plus"></i>
        </p-button>
        <h5>Add category</h5>
      </div>
      <div class="resto-menu-filter-category" *ngFor="let item of events">
        <img
          src="https://www.mosaique-pizza.fr/medias/images/menu-pizzas.svg"
          alt=""
        />
        <div>Pizza</div>
      </div>
    </div>
    <h2>Produits</h2>

    <div class="resto-menu-products">
      <div class="resto-menu-product add-product">
        <p-button (click)="openAddPlat()" [link]="true">
          <i class="pi pi-plus"></i>
        </p-button>
        <h3>Add plat</h3>
      </div>

      <div
        class="resto-menu-product"
        *ngFor="let item of items"
        [ngClass]="{ selected: item.selected }"
      >
        <div class="rest-resto-menu-product-details">
          <div class="resto-menu-product-img">
            <img src="{{ item.imgP }}" alt="" />
          </div>
          <div class="resto-menu-product-name">{{ item.name }}</div>
          <div class="resto-menu-product-description">
            {{ item.description }}
          </div>
          <div class="resto-menu-product-footer">
            <div class="resto-menu-product-price">{{ item.Price }}</div>
            <p-button
              class="product-btn"
              icon="pi pi-cart-plus"
              [link]="true"
            ></p-button>
            <p-button
              (click)="showProductSelectionBar()"
              (click)="addToSelectedProducts(item)"
              [link]="true"
              icon="pi pi-plus"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="productSelectionBarVisible" class="product-selection-bar">
  <div class="product-selection-bar-left">
    <span>{{ selectedProductIds.length }} items selected</span>
    <p-inputNumber
      placeholder="Enter Price"
      [(ngModel)]="eventPrice"
    ></p-inputNumber>
    <p-inputNumber
      placeholder="Number of Persons"
      [(ngModel)]="numberOfPersons"
    ></p-inputNumber>
    <p-calendar placeholder="Start Date" [(ngModel)]="startDate"></p-calendar>
    <p-calendar placeholder="End Date" [(ngModel)]="endDate"></p-calendar>
  </div>
  <p-button styleClass="secend-btn" (click)="submitEvent()">Submit</p-button>
</div>
