<div class="container">
  <div class="first">
    <div class="first-inner"></div>

    <div class="first-text-1">
      <h3>C'est quoi "NextMunch"</h3>
      <span>
        NextMunch est la solution idéale pour les clients qui souhaitent trouver
        facilement les restaurants qui correspondent à leurs goûts et à leurs
        besoins. Notre plateforme web propose une variété de fonctionnalités qui
        vous permettent de trouver les restaurants parfaits pour toutes les
        occasions.
      </span>
      <p-button label="Plus de Détails" [outlined]="true"></p-button>
    </div>
  </div>
  <div class="first">
    <div class="first-text-1">
      <h3>Notre Impact</h3>
      <span>
        <ul>
          <li>
            Rend la recherche et la réservation de restaurants plus faciles et
            plus rapides.
          </li>
          <li>Offre un choix plus large de restaurants et de cuisines.</li>
          <li>
            Permet aux clients de trouver les restaurants parfaits pour toutes
            les occasions.
          </li>
        </ul>
      </span>
      <p-button label="Plus de Détails" [outlined]="true"></p-button>
    </div>
    <div class="second-inner"></div>
  </div>

  <div class="first">
    <div class="third-inner"></div>

    <div class="first-text-1">
      <h3>NextMunch</h3>
      <span>
        NextMunch est un outil précieux qui vous permet de gagner du temps et de
        l'énergie. Notre plateforme web vous permet de trouver les restaurants
        parfaits pour votre prochain repas, que vous soyez en train de chercher
        un endroit pour une occasion spéciale, un dîner romantique ou un simple
        repas entre amis.
      </span>
      <p-button label="Plus de Détails" [outlined]="true"></p-button>
    </div>
  </div>
</div>
