<div *ngIf="loading" class="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="header" *ngIf="!loading">
  <div class="banner-resto-img">
    <img src="{{ data.bannerImg }}" alt="" />
  </div>
  <div class="banner-container">
    <div class="main-resto-img">
      <img src="{{ data.mainImg }}" alt="" />
    </div>
    <p-button
      icon="pi pi-ellipsis-h"
      [link]="true"
      class="setting-btn"
      (click)="OpenSettings()"
    ></p-button>
  </div>
</div>

<div class="container" *ngIf="!loading">
  <div class="resto-details">
    <div class="resto-details-title">{{ data.nameR }}</div>
    <p-rating
      [(ngModel)]="ratingValue"
      [readonly]="true"
      [cancel]="false"
    ></p-rating>

    <div class="resto-details-description">
      {{ data.descriptionR }}
    </div>
    <div class="resto-details-location-phone">
      <span>
        <i class="pi pi-map-marker"></i>
        Location</span
      >
      <span> {{ data.location }} </span>
    </div>
    <div class="resto-details-location-phone">
      <span>
        <i class="pi pi-comments"></i>

        Contact</span
      >
      <span> +216 {{ data.contact }} </span>
    </div>
    <div class="resto-details-time">
      <i class="pi pi-clock"></i>
      <p>{{ data.openDates }}</p>
      <span>- AM to</span>
      <p>{{ data.closeDates }}</p>
      <span>- PM</span>
    </div>
  </div>
  <div class="owner-tab-menu">
    <p-button
      label="Menu"
      routerLink="./menu"
      styleClass="custom-button"
      routerLinkActive="activebutton"
    ></p-button
    ><p-button
      label="Informations"
      routerLink="./informations"
      styleClass="custom-button"
      routerLinkActive="activebutton"
    ></p-button
    ><p-button
      label="Reviews"
      routerLink="./reviews"
      styleClass="custom-button"
      routerLinkActive="activebutton"
    ></p-button>
    <p-button
      label="Reservations"
      routerLink="./reservations"
      styleClass="custom-button"
      routerLinkActive="activebutton"
    ></p-button>
  </div>
  <router-outlet></router-outlet>
</div>
