<div class="header">
  <div class="banner-img">
    <img
      src="../../../assets/images/restaurants-images/restaurant-background-2ez77umko2vj5w02.jpg"
      alt=""
    />

    <div class="main-logo-img">
      <img
        src="../../../assets/images/restaurants-images/restaurant-logo_restaurant-icon-logo-free-design-template-e4e92c7d3b5631a777fce7a5d629a00a_screen-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h2>Restaurants</h2>
  </div>
  <div class="restos">
    <a href="" *ngFor="let restaurant of restaurants">
      <div class="resto-box">
        <div class="resto-box-banner">
          <img src="../../../assets/images/Main-Images/images.jpg" alt="" />
          <div class="resto-box-img-profil">
            <img src="../../../assets/images/Main-Images/tacos.jpg" alt="" />
          </div>
          <div class="resto-box-rating">
            <span>4.5</span>
            <i class="pi pi-star-fill"></i>
          </div>
        </div>

        <div class="resto-box-details">
          <span class="resto-box-details-name">{{ restaurant.name }}</span>
          <p class="resto-box-details-description">
            {{ restaurant.description }}
          </p>
          <!--
          <div class="resto-box-details-location">
            <i class="pi pi-map-marker"></i>
            <p>{{ restaurant.location }}</p>
          </div>
          -->
          <div class="resto-box-details-button">
            <p-button
              label="check"
              icon="pi pi-angle-right"
              [link]="true"
              iconPos="right"
            ></p-button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
