<div class="header">
  <div class="banner-img">
    <img
      src="../../../assets/images/restaurants-images/restaurant-background-2ez77umko2vj5w02.jpg"
      alt=""
    />

    <div class="main-logo-img">
      <img
        src="../../../assets/images/restaurants-images/restaurant-logo_restaurant-icon-logo-free-design-template-e4e92c7d3b5631a777fce7a5d629a00a_screen-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="conatiner-left">
      <div class="resto-filter">
        <span>Filter</span>
        <i class="pi pi-filter-fill"></i>
      </div>
      <div class="content-form-div">
        <label for="restaurant-find">Search restaurant :</label>
        <input
          pInputText
          type="text"
          placeholder="Search restaurant"
          id="restaurant-find"
          [(ngModel)]="searchInput"
          (input)="searchRestaurantsf()"

        />
      </div>
      <div class="content-form-div">
        <label for="restaurant-category">Restaurants category:</label>
        <br />
        <div class="flex flex-column gap-2">
          <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox
              name="group"
              [value]="category._id"
              [(ngModel)]="selectedCategories"
              [inputId]="category._id"
              (onChange)="searchRestaurantsf()"
            ></p-checkbox>
            <label [for]="category._id">{{ category.nameCat }}</label>
          </div>
        </div>
      </div>

      <div class="content-form-div-rating">
        <label class="content-form-div-rating-label">Maximum Rating:</label>
        <div class="test">
        <p-slider ></p-slider>
      </div>
      </div>

      <div class="content-form-div">
        <label for="restaurant-location">Location:</label>
        <input
          pInputText
          type="text"
          placeholder="Enter location"
          id="restaurant-location"
        />
      </div>
      
    </div>

    <div class="container-rigth">
      <div>
        <h2>Restaurants</h2>
      </div>
      <div class="restos">
        <a href="" *ngFor="let restaurant of restaurants">
          <div class="resto-box">
            <div class="resto-box-banner">
             <!-- <img [src]="restaurant.bannerImg" alt="" />-->
              <div class="resto-box-img-profil">
                <!--<img [src]="restaurant.mainImg" />-->
              </div>
              <div class="resto-box-rating">
                <span>{{restaurant.rating}}</span>
                <i class="pi pi-star-fill"></i>
              </div>
            </div>

            <div class="resto-box-details">
              <span class="resto-box-details-name">{{ restaurant.nameR }}</span>
              <p class="resto-box-details-description">
                {{ restaurant.descriptionR }}
              </p>
              <!--
              <div class="resto-box-details-location">
                <i class="pi pi-map-marker"></i>
                <p>{{ restaurant.location }}</p>
              </div>
              -->
              <div class="resto-box-details-button">
                <p-button
                  label="check"
                  icon="pi pi-angle-right"
                  [link]="true"
                  iconPos="right"
                ></p-button>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
