<div class="header">
  <div class="banner-img">
    <img
      src="../../../assets/images/restaurants-images/restaurant-background-2ez77umko2vj5w02.jpg"
      alt=""
    />

    <div class="main-logo-img">
      <img
        src="../../../assets/images/restaurants-images/restaurant-logo_restaurant-icon-logo-free-design-template-e4e92c7d3b5631a777fce7a5d629a00a_screen-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</div>
<div style="text-align: center;">
    <h2>Restaurants</h2>

    </div>
<div class="container">
   


  <div *ngFor="let restaurant of restaurants" class="resto-box">
    <div class="resto-box-banner">
      <img
        src="../../../assets/images/restaurants-images/restaurant-background-2ez77umko2vj5w02.jpg"
        alt=""
      />
      <div class="resto-box-img-profil">
        <img src="../../../assets/images/Main-Images/projet.jpg" alt="" />
      </div>
      <div class="resto-box-details">
        <h3>{{ restaurant.name }}</h3>
        <p-divider></p-divider>
        <p>{{ restaurant.description }}</p>
        <div class="card flex justify-content-center my-rating-container">
            <p-rating [(ngModel)]="ratingValue" [cancel]="false" class="yellow-stars"></p-rating>
        </div>
        <div style="display: flex; align-items: center;">
            <i class="pi pi-map-marker" style="margin-right: 8px;"></i>
            <p style="margin: 0;">{{ restaurant.location }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
