<div class="container">
  <div class="photos-container">
    <div class="photo">
      <img
        src="../../../assets/images/Main-Images/ContactUsBackgroung.jpg"
        alt="Photo 1"
      />
    </div>
    <div class="photo2">
      <img
        src="../../../assets/images/Main-Images/ContactUsBackgroung.jpg"
        alt="Photo 2"
      />
    </div>
    <div class="photo">
      <img
        src="../../../assets/images/Main-Images/ContactUsBackgroung.jpg"
        alt="Photo 3"
      />
    </div>
  </div>

  <div class="content">
    <h2>Welcome to Restaurant Finder</h2>
    <p>
      Discover a variety of restaurants and their menus to find the best options
      for you.
    </p>
    <p-button label="Sign IN"></p-button>
  </div>
</div>
