.all-page {
  top: -70px;
  position: relative;
  background: url('../../../assets/images/home-page/bgbimage.jpg') center/cover fixed no-repeat;
  min-height: 100vh;
  z-index: -2;
}

.all-page::before {
  content: "";
  position: absolute;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--home-blur-background);
  filter: blur(20px);
  z-index: -1;
}



/*****************/
.header {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  padding-top: 140px;

}
.container-header {
  display: flex;
  gap: 20px;
  height: 480px;
}
/**************** container-header-left ************************/
.container-header-left {
  flex: 3;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: 100%;
}
.container-header-left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--blur-background);
  backdrop-filter: blur(50px); 
}
.text-header {
  max-height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}
/***************  LOGO *********************/

.logo {
  margin-bottom: 0px;
}
.mainlogo {
  position: relative;
}
.mainlogo div {
  font-family: "Preahvihear", sans-serif !important;
  font-size: 23px;
  font-weight: 700;
  color: var(--whitecolor);
}
.mainlogo img {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -3px;
  left: 127px;
}
/****************** social-media ***********************/

.header-social-media {
  display: flex;
  z-index: 10;
  gap: 10px;
}
.header-search input {
  width: 500px;
  border-radius: 50px;
}
/****************** search ***********************/
.header-search-text{
  color: var(--whitecolor);
  z-index: 10;

}
.header-search-input{
  background-color: transparent !important;
  border: var(--whitecolor) solid 1px !important;

}
.header-search-input::placeholder{
  background-color: transparent !important;
  color: var(--whitecolor) !important;
}
/****************** header--text ***********************/

.header-big-text {
  max-width: 350px;
  font-size: 50px;
  color: var(--whitecolor);
  z-index: 10;
  font-weight: 700;
}
.header-medium-text {
  max-width: 350px;
  color: var(--whitecolor);
  z-index: 10;
  font-weight: 700;
  font-size: 25px;
}
/****************** img-header ***********************/

.img-header {
  z-index: 1;
  position: absolute;
  bottom: -10px;
  right: -160px;
}
.img-header img {
  height: 100%;
  width: 100%;
}

/****************** container-header-rigth ***********************/

.container-header-rigth {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-header-rigth-resto-card{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
  padding: 10px;
  position: relative;
}
.container-header-rigth-resto-card::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--blur-background);
  backdrop-filter: blur(20px); 
  z-index: 1;
}
.container-header-rigth-resto-card-img{
  border-radius: 20px;
  width: 100%;
  height: 200px;
  margin: auto;
  z-index: 2;

}
.container-header-rigth-resto-card-img img{
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 200px;
}
.container-header-rigth-resto-card-title{
  margin-top: 10px;
  z-index: 2;
  font-size: 22px;
}

.container-header-rigth-resto-card span{
  z-index: 2;
}
.container-header-rigth-resto-card-button{
  display: flex;
  z-index: 2;
  justify-content: right;
}
.chips{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
  gap: 10px;
}
.chip{
  background-color: var(--soft-bgcolor);
  padding: 5px 10px ;
  border-radius: 20px;
}
 /****************** section Event********************/
 .container-event{
  margin-bottom: 30px;
  max-width: 1455px;
  margin: auto;
  padding: 40px;
  border-radius: 30px;
  margin-bottom: 30px;

 }
 .event-box{
  display: flex;
  align-items: center;
 }
 .event-box-description{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
 }
 .event-box-description h1{
margin: 0;
 }
 .event-box-description p{
  margin: 0;
   }

   /*********event slide **********/
 .event-box-slide{
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  gap: 20px;
 }
.event{
  display: flex;
  height: 100px;
  width: max-content;
  background-color: var(--soft-bgcolor);
  border-radius: 20px;
  gap: 10px;

}
.event-description{
  padding-left: 10px;
  width: 170px;

}
.event-description span{
  font-size: 22px;
}
.event-img {
  border-radius: 20px;
  height: 100px;
  width: 150px;
}
.event-img img{
  border-radius: 20px;
  height: 100px;
  width: 150px;
}


/****************container********************/
.container{
  max-width: 1400px;
  margin: auto;
  background-color: var(--blur-background);
  border-radius: 50px;
  padding: 10px;
  
}
.container::before {
  content: "";
  position: absolute;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

.box{
 display: flex;
  justify-content: space-between;
 margin-bottom: 20px;
}

/****************box- left**********/
.box-about-us{
  padding: 20px;
  flex: 1;
}

/************** box- center********/
.box-information{
  display: flex;
  flex-direction: row;
  gap: 100px;
  flex: 2;
}
.box-informations-resto{
 display: flex;
 flex-direction: column;
 align-items: left;
 justify-content: left;
 margin: 0;
}
.box-informations-resto p {

  font-size: 14px;
  margin: 0;
 }
 .box-informations-resto h1 {
  font-size: 45px;
  margin: 0;
 }
.box-informations-rating{
  display: flex;
  flex-direction: column;
  justify-self: left;
  align-items: left;
 }
 .box-informations-rating p {
  font-size: 14px;
  margin: 0;
 }
 .box-informations-rating h1 {
  font-size: 45px;
  margin: 0;
 }
 .box-informations-visiter{
  display: flex;
  flex-direction: column;
  justify-self: left;
  align-items: left;
 }
 .box-informations-visiter p {
  font-size: 14px;
  margin: 0;
 }
 .box-informations-visiter h1 {
  margin: 0;
  font-size: 45px;
 }
 /**********box-rigth***************/
 .box-show-more{
  flex: 1;
  padding: 5px;
 }

 /*************section 2***************/
 .container-section-2{
  margin: auto;
  max-width: 1000px;
  margin-bottom: 60px;
 }
 /********section 2 title********/
 .title-section-2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
 }
 .title-section-2 h1{
margin: 0;
 }

 /*********** section 2 box************/
 .box-section2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;
  margin-top: 50px;
 }
 .box-order{
  width: 270px;
  height: 300px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--whitecolor);
  color: black;
  padding: 10px;
 }
 .img-box-order{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-image: url("https://www.shutterstock.com/image-vector/quick-response-concept-line-icon-260nw-2206293803.jpg");
  background-position: center;
  background-size: cover;
 }
 .description-box-order{
  text-align: center;
 }
/************** box-delivery*************/
.box-delivery{
  width: 270px;
  height: 300px;
  background-color: rgb(255, 166, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--whitecolor);
  padding: 10px;
  color: black;
 }
 .img-box-delivery{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-image: url("https://img.freepik.com/premium-vector/delivery-icon-fast-food-order-post-service-vector_88813-1255.jpg");
background-position: center;
background-size: cover;
 }

 /************ box-delicous*************/

 .box-delicous{
  width: 270px;
  height: 300px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: black;
  padding: 10px;
 }
 .img-box-delicous{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-image: url("https://www.creativefabrica.com/wp-content/uploads/2020/08/07/Icon-Big-Burger-Graphics-4878145-1-580x387.jpg");
background-position: center;
background-size: cover;
 }
