<div class="container">
  <h1>Add Dish</h1>

  <form>
    <div class="container-details">
      <div class="container-details-left">
        <div class="test">
          <label htmlFor="username">Dish name</label>
          <input pInputText id="username" aria-describedby="username-help" />
        </div>
        <div class="test">
          <label htmlFor="username">Dish price</label>
          <input
            type="number"
            pInputText
            id="username"
            aria-describedby="username-help"
          />
        </div>
        <div class="test">
          <label htmlFor="username">Dish description</label>
          <input pInputText id="username" aria-describedby="username-help" />
        </div>
      </div>
 
      <div class="container-details-rigth">
        <label for="restaurant-category">Restaurants category:</label>
        <p-multiSelect  placeholder="restaurant categorys" [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
      </div>
    </div>
    <div class="container-image">
<div class="image-box">

</div>
<div class="upload-image-box">
    <label> upload image</label>
    <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"  ></p-fileUpload>
</div>
    </div>

    <p-button type="submit" class="btn btn-primary">Ajouter</p-button>
  </form>
</div>
