.container-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap:5px;
    padding: 20px;
    border-radius: 10px;
    
}
.container-details-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container-details-rigth{
    display: flex;
    flex-direction: column;
    gap: 5px;

}


.field-checkbox{
      display: flex;
    gap: 12px;
    align-items: center;
}

.content-form-div  {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content-form-div label {
    cursor: default;
    margin: 20px;
  
  }
  .test{
    display: flex;
    flex-direction: column;
    gap:10px
  }

  .container-image{
    display: flex;
    align-items: center;
    justify-content: left;
    gap:90px;
    padding: 20px;
    border-radius: 10px;
}
/********************/
.plat-image{
  height: 150px;
  width: 150px;
  border: dashed 1px var(--graycolor);
  border-radius: 50%;
  background-color:rgba(245, 245, 220, 0.097);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.plat-image i{
  font-size: 20px;

}
/*******************/
.details-plat{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}